body{
    background: black;
}
.cabecalho{
    width: 400px;
    margin: 0 auto;
}
.imagem-logo{
    width: 100%;
}
.conteudo-principal{
    color: white;
    text-align: center;
    margin: 80px 0;
}
.titulo-principal{
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px;
}
.descricao{
    font-size: 28px;
}
.conteudo-secundario{
    margin: 80px auto;
    width: 60px;
}
#voltar{
    border: none;
    color: white;
    background: none;
    font-size: 40px;
    text-transform: uppercase;
}
#voltar:hover{
    background: linear-gradient(90deg, #ffffff7a, #ffffff00);
    cursor: pointer;
}