body{
    background: black;
}
.cabecalho{
    width: 400px;
    margin: 0 auto;
}
.imagem-logo{
    width: 100%;
}
.conteudo-selecao{
    margin: 80px auto;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}